$font-color-dark: #666235;

$color-bg-nav: #a98c6a;
$color-bg-dark: #efe6d6;
$color-bg-light: #f5f8eb;

$color-icons: #a98c6a;
$color-nav: #f5f8eb;

$color-line-dark: #a98c6a;
$color-line-light: #d4c5a8;

$color-hover: #d2c09c;
